h2 {
  color: darkcyan;
  text-align: center;
  margin-bottom: 24px;
}


.form-container {
  border: 1px solid darkcyan;
  padding: 20px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-input-container:not(:nth-child(3)) {
  margin-bottom: 10px;
}


.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 10px;
  /* border-radius: 10px; */
  border: none;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  -webkit-transition: 0.3s;
  border: 1px solid aliceblue;
  transition: 0.5;
}

a {
  text-decoration: none;
}

.btn-excluir {
  background-color: darkred;
  color: white;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.actions-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.backContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.backContainer a {
  font-size: 0.9rem;
  font-weight: 500;
  color: darkcyan;
}

textarea {
  resize: none;
}

.customTextarea {
  height: 60px;
  padding-top: 8px;
}


@media (min-width: 760px) {
  .form-container {
    width: 460px;
  }
}
