<main class="containerLogin">
  <div class="centeredContainer">
    <h2>Bem-vindo(a)</h2>
    <form #formLogin="ngForm"class="form-container">
      <div>
        <label class="custom-label">Email</label>
        <input
          class="form-input"
          type="email"
          name="email"
          [(ngModel)]="user.email"
          #emailInput="ngModel"
          required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        />
      </div>
      <div class="error-container" *ngIf="emailInput.invalid && emailInput.touched">
        <small class="error" *ngIf="emailInput.errors?.['required']">O email é obrigatório</small>
        <small class="error" *ngIf="emailInput.errors?.['pattern']">Formato de email inválido.</small>
      </div>
      <div>
        <label class="custom-label">Password</label>
        <input
          class="form-input"
          type="password"
          name="password"
          [(ngModel)]="user.password"
          #passInput="ngModel"
          required
        />
      </div>
      <div class="error-container" *ngIf="passInput.invalid && passInput.touched">
        <small class="error" *ngIf="passInput.errors?.['required']">A senha é obrigatória.</small>
      </div>
      <div class="button-container">
        <button type="submit" (click)="onSubmit()">
          @if(loading) {
            <span class="loader"></span>
          } @else {
            Entrar
          }
        </button>
      </div>

    </form>
    <div class="askContainer">
      <span>Ainda não tem conta?</span>
      <a href="/register">Cadastre-se</a>
    </div>
  </div>



</main>
