
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: darkcyan #ccc;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 3px solid darkcyan;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.form-input {
  width: 100%;
  height: 30px;
  /* border-radius: 10px; */
  outline: none;
  border: 1px solid #ccc;
  padding: 0 12px 0 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.custom-label {
  color: darkcyan;
  font-weight: 400;
}


.form-input:focus {
  border: 1px solid darkcyan;
}


.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  .loader-large {
    width: 48px;
    height: 48px;
  }

  .loader-darkcyan {
    border: 5px solid darkcyan;

  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }


