

<section class="taskSection">
  <div class="addTaskButtonContainer">

    <!-- <select (change)="taskFilter($event)">
      <option value="">Todos</option>
      <option value="done">Finalizadas</option>
      <option value="pending">Pendentes</option>
    </select> -->
    <a href="/tasks/create">
      <span>
        Criar Tarefa
      </span>
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>
  @if(loading) {
    <div class="loadContainer">
      <span class="loader loader-large loader-darkcyan"></span>
    </div>
  } @else if ( tasks.length > 0) {

    <span class="showMessageDetails">Click para ver detalhes da tarefa*</span>
    <div class="tasks-container">

      <ul>
        @for(task of tasks; track task.id) {
          <a (click)="showTaskDetails(task.id)">
            <li class="task">
              <i class="fa-solid fa-list"></i>
              <span>{{ task.title }}</span>
              <div class="deadline">
                <i class="fa-solid fa-clock"></i>
                <span>{{ task.finished_date_limit }}</span>
              </div>
            </li>
          </a>
        }
      </ul>
      <div class="totalContainer">
        <span>Total de Tarefas: {{tasks.length}}</span>
      </div>
    </div>
  } @else {
    <div class="emptyContainer">
      <span>Não há tarefas cadastradas</span>
      <i class="fa-solid fa-face-frown"></i>
    </div>
  }
</section>
