
.tasks-container {
  min-width: 360px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  /* justify-content: center; */
  margin-bottom: 1rem;
  overflow-y: auto;
}

.showMessageDetails {
  font-size: 0.9rem;
  color: darkcyan;
  font-weight: 600;
  margin-left: 1rem;
}

.addTaskButtonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 2rem;
}

.addTaskButtonContainer a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: darkcyan;
  border: none;
  width: 120px;
  height: 40px;
  color: aliceblue;
}

ul {
  list-style: none;
}

.task-header {
  display: flex;
  padding: 0 12px;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 12px;
}


.task-header span {
  color: darkcyan;
  font-weight: 700;
}

.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(212,208,208,1);
  -moz-box-shadow: 3px 2px 5px 0px rgba(212,208,208,1);
  box-shadow: 3px 2px 5px 0px rgba(212,208,208,1);
  /* border-bottom: 1px solid #ccc; */
}

.deadline {
  display: flex;
  gap: 8px;
  align-items: center;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.emptyContainer span {
  color: darkcyan;
  font-size: 1.5rem;
  font-weight: 500;
}

.emptyContainer i {
  color: darkcyan;
  font-size: 1.5rem;
}


ul a {
  text-decoration: none;
  color: darkcyan;
  cursor: pointer;
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
}

.totalContainer {
  color: darkcyan;
  font-weight: 300;
}
